dist/
vendor/
.idea/
.modules/
.terraform*
terraform.d/
terraform.tfstate
terraform.tfstate.backup
lib/
*.lic
scripts/artifactory_license*.json
/resources/
.DS_Store
*.crt
*.backup
coverage.txt
.scannerwork
*.code-workspace
scripts/artifactory/
*.hcl